//- Blocks are containers that can be replaced, appended, or prepended
block title
	h3 The Islands
block content
	p All about the Greek Islands.
block content2
	p Some of the oldest European civilizations developed on the Greek islands (Cycladic, Minoan civilizations, etc.), so therefore the islands have unique archeological sites, a distinctive architectural heritage and the fascinating local traditions of a centuries-old and multifaceted civilization.
block footer
	p The ideal climate, safe waters and small distances between ports and coasts, have made the Greek islands extremely popular among Greek and foreign visitors.